/* INICIO ENCABEZADO */
header {
    width: 100%;
}

nav {
    background: #10893b;
    padding-left: 10%;

}
  
nav ul {
    list-style: none;
    overflow: hidden;
}
  
nav ul li {
    float: left;
    font-family: Arial, sans-serif;
    font-size: 16px;
}
  
nav ul li a {
    display: block;
    padding: 20px;
    color: #ffffff;
    text-decoration: none;
}
  
nav ul li:hover {
    background: #349c3d;
}

* {
    padding: 0;
    margin: 0;
}


.encabezadomainpage {
    background: #ffffff;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 2%;
}
 
.letraencabezado {
    justify-content: center;
    font-size: 250%;
    text-align: center;
    color: #ed1c24;
    font-family: Arial, sans-serif;
}
.letraencabezado p {
    margin: 0%;
}

.encabezadomainpage img {
    padding-right: 2%;
    width: 5%;
}
/* FINAL ENCABEZADO */

/* INICIO MAIN PAGE */
.destacadas {
    width: 100%;
    padding: 3% 0;
    background-color: rgb(143, 206, 124);
    font-family: Arial, sans-serif;
}

.destacadas-contenido {
    width: 80%;
    margin: 0 auto;
}

.destacadas h1 {
    text-align: center;
}

.destacadas hr {
    width: 100%;
    margin: 0 auto 30px auto;
}

/* Caja blanca que contiene los banners */
.banner {
    background-color: #f0f8f5;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);

    display: flex;
    justify-content: space-between;
    gap: 30px;
}

/* Cada enlace ocupa la mitad */
.banner a {
    width: 50%;
}

/* Imagen ocupa todo su contenedor */
.imgBanner {
    width: 100%;
    height: auto;
    border-radius: 10px;
    display: block;
    transition: transform 0.3s ease;
}

.imgBanner:hover {
    transform: scale(1.03);
}

.otrasnoticias{
    padding-left: 10%;  
    padding-right: 10%;     
    font-family: Arial, sans-serif;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: rgb(143, 206, 124);
}
.imgBOX{
    font-family: Arial, sans-serif;
    margin: 20px;
    width: 100%;
    padding: 20px;
    background-color: #f0f8f5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.notistitle{
    margin: 20px;
    padding: 20px;
    width: 35%;
    margin-left: 30%;
    margin-right: 30%;
    background-color: #f0f8f5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.notis{
    margin: 20px;
    padding: 20px;
    background-color: #f0f8f5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.notis h1{
    text-align: center;
    margin-bottom: 1%;
}
.notis a {
    text-decoration: none;
}
.notis a :hover{
    color: #349c3d;
}
.actualidad{
    display: flex; 
    padding-left: 10%;  
    padding-right: 10%;     
    font-family: Arial, sans-serif;
    padding-top: 2%;
    padding-bottom: 5%;
    background-color: rgb(143, 206, 124);
}
.actualidad p{
    text-align: center;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
  }
  
  table th, table td {
    border: 1px solid black;
    padding: 12px;
  }
  
  .linkOLA:hover {
    background-color: #7c7c7c;
  }
  
  table th {
    color: black;
    padding-top: 12px;
    padding-bottom: 12px;
  }
table a{
    text-decoration: none;
    color: black;
}

/* Fondo básico */
.fondo {
    background-color: rgb(143, 206, 124);
}

/* Medidas medioambientales */
.medidas-medioambientales {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    margin-bottom: 5%;
    background-color: #f0f8f5;
    border-radius: 10px;
}

.seccion-medida {
    margin-bottom: 20px;
    padding: 10px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.seccion-medida h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #388e3c;
}

.seccion-medida p {
    font-size: 1em;
    text-align: justify;
    color: #333;
}
.imagenes-MMA{
    justify-content: center;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    height: 25%;
    width: 30% ;

}

h1 {
    text-align: center;
    font-size: 2em;
    color: black
}




.fondo-verde {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(154, 214, 136);
    margin-bottom: 50px; 
}

/* Contenedor principal */
.contenedor {
    width: 90%;
    margin: 20px auto;
    padding-bottom: 80px;
}

/* banner principal de ambientales */
.banner-principal {
    background-color: #f0f8f5;
    padding: 40px;
    text-align: center;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
}

.banner-principal h1 {
    color: #388e3c; 
    margin-bottom: 10px;
}


.tarjeta {
    background: #fff;
    margin-bottom: 25px;
    display: flex; 
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    align-items: center;
}

.tarjeta img {
    width: 30%; 
    height: auto;
    object-fit: cover;
    padding: 10px;
    border-radius: 20px;
}

.texto {
    padding: 20px;
    width: 70%;
}

.texto h2 {
    color: #388e3c;
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
}

.texto p {
    font-size: 1em;
    color: #333;
    text-align: justify;
}

/* GALERIA DE IMAGENES*/

/* Contenedor de las fotos */
.imagenes {
    padding: 2%;
    background-color: rgb(154, 214, 136); /* Fondo verde como el resto */
}

/* Filas de imágenes */
.imagenes1 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

/* Caja de cada foto*/
.img1 {
    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 15px;
    background-color: #f0f8f5;
    border-radius: 10px;
    width: 30%; /* Tres por fila */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.img1 .img {
    width: 100%;
    height: 75%;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.img1 .img:hover {
    transform: scale(1.05);
}

/* Títulos y textos */
.texth1 {
    font-size: 1.2em;
    color: #388e3c;
    margin: 10px 0;
}

.text {
    font-size: 0.9em;
    color: #333;
    text-align: justify;
}

/* Separador simple */
hr {
    border: 0;
    border-top: 1px solid #ddd;
    margin-bottom: 10px;
}

/*                    */
/*  CONTACTO - Marcos */
/*                    */

.contacto {
    display: flex;
    width: 100%;
    text-align: center;
    flex-direction: column;
}
.contacto h1 {
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    padding: 20px;
    background-color: rgb(143, 206, 124);
    margin-bottom: 50px; 
}

.contacto a {
    font-weight: bold;
    color: #205525;
}

.contacto h2 {
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    padding: 20px;
}
.contacto hr {
    border: 0;
    height: 0;
    box-shadow: 0 1px 5px 1px black;
    width: 75%;
    align-self: center  ;
}

.contactoAB {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    line-height : 25px;
  }
  
  .contactoIZ, .contactoDER {
    width: 48%; 
  }
  
  .contactoIZ {
    padding: 30px;
    margin-left: 3%;
    line-height : 35px;
  }
  
  .contactoDER {
    padding: 30px;
  }

/* MAPA */

  .mapa {
    padding: 20px;
    background-color: rgb(143, 206, 124);
    margin-bottom: 50px; 
  }

  .mapa h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
  }

  .mapa iframe {
    border: none;
    width: 100%;
    height: 300px;
    margin-bottom: 1rem;
    border-radius: 10px;
}

/* FORMULARIO DE CONTACTO */

.formulario {
    padding: 20px;
    margin-bottom: 5%;
}

.formulario form {
    background-color: #f4f4f4;
    padding: 1rem;
    border-radius: 10px;
}

.formulario form label {
    display: block;
    margin-top: 1rem;
}

.formulario form input, form textarea, form button {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
}

.formulario form button {
    background-color: #3ead47;
    color: white;
    border: none;
    cursor: pointer;
}

.formulario form button:hover {
    background-color: #3ead47;
}

.formulario h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

/* CALENDARIO */

.fotoagenda img {
    width: 100%;
    height: 350px;
}

.calendario {
    display: flex;
    width: 90%;
    padding: 20px;
    border-radius: 10px;
}

.calendario iframe {
    width: 380px;
    height: 380px;
    border-radius: 10px;
} 

.calendario img {
    width: 100px;
    height: 100px;
}

.textocalendario {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
    margin-bottom: 5%;
}

.financiacion {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 5px;
    font-family: Arial, sans-serif;
}

/*                         */
/* FINAL CONTACTO - Marcos */
/*                         */

/*                             */
/*  Consejos Empresas - Marcos */
/*                             */

.header h1 {
    font-family: 'Arial', sans-serif; 
    font-size: 2.5rem;
    color: #2a3c4e; 
    text-align: center;
    text-transform: uppercase; 
    letter-spacing: 2px; 
    margin-bottom: 20px; 
    margin-top: 20px;
}


.contenido h2 {
    font-family: 'Arial', sans-serif; 
    font-size: 2rem; 
    color: #16a080; 
    text-align: left; 
    font-weight: bold; 
    margin-bottom: 10px ; 
    margin-left: 20px;
}



.tabla {
    width: 98%;
    border-collapse: collapse;
    margin-bottom: 40px;
    margin-left: 10px;
    border-radius: 10px;
    overflow: hidden;

}

.tabla th,
.tabla td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    
}

.tabla th {
    background-color: #4CAF50;
    color: white;
}

.tabla td {
    background-color: rgb(143, 206, 124);
    margin-bottom: 50px; 
}
.contenido{
    margin-bottom: 4%;
}

/*                                   */
/*  Final Consejos Empresas - Marcos */
/*                                   */

.fondo-verde {
    background-color: rgb(143, 206, 124);
    margin-bottom: 50px; 
}

/* footer personalizado .pie */
.pie {
    background-color: #333;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 15px;
    font-family: Arial, sans-serif;
    z-index: 1000;
}

